#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  max-width: 50rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;

  background-color: #f2f2f2;
}

.board-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.board-footer {
  padding-block: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

.square {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid #ccc;

  font-family: var(--game-family), monospace;
  line-height: 1;
  transition: background-color 0.3s ease;
}

.player-1 {
  filter: drop-shadow(0 14px 0.85rem var(--primary-color));
  color: var(--primary-color);
  font-size: 3em;
}

.player-2 {
  filter: drop-shadow(0 14px 0.85rem var(--secondary));
  color: var(--secondary);
  font-size: 3em;
}

.square.is-selected {
  background-color: var(--primary-color);
  color: #fff;
}

.winnerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;

  font-size: 2em;

  background-color: rgb(255 255 255 / 0.15);
  backdrop-filter: blur(0.5rem);
}

.winnerModal-body {
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  background-color: #f2f2f2;
}
