@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;

  /* COLORS */
  --primary-color: #4182f8;
  --primary-light: #7bb9d7;
  --secondary: #f99d17;
  --secondary-light: #fdb863;

  --body-color: #323232;

  /* FONTS */

  --game-family: "Rubik Mono One";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;

  color: var(--body-color);

  background: var(--primary-color);
  background: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--primary-light) 100%
  );
}
